app-store-scraper==0.3.5
asgiref==3.2.10
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.3.1
Django==3.1.2
django-cors-headers==3.5.0
django-templated-mail==1.1.1
djangorestframework==3.12.1
djangorestframework-simplejwt==4.3.0
djoser==2.0.5
drf-yasg==1.17.1
drf-yasg2==1.19.2
emoji==0.6.0
et-xmlfile==1.0.1
fuzzywuzzy==0.18.0
google-play-scraper==0.1.2
google-play-store==0.6.0
idna==2.10
inflection==0.5.1
itypes==1.2.0
jdcal==1.4.1
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
openpyxl==3.0.5
packaging==20.4
Pillow==8.0.1
psycopg2==2.8.6
pycparser==2.20
PyJWT==1.7.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
python-Levenshtein==0.12.1
pytz==2020.1
requests==2.23.0
requests-futures==1.0.0
ruamel.yaml==0.16.12
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
uritemplate==3.0.1
urllib3==1.25.11
xlrd==2.0.1
